@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&display=swap');

body {
  background-color: #f6f4eb;
  font-family: 'Jost', sans-serif;
  font-family: 'Poppins', sans-serif;
}
